*{
	/* font-family:'TrueMedium'!important; */
	font-family:'true_mediumregular';
}
/* @media screen and (max-width:2560px){ */
	/* .wgChatbox{ */
		/* width: 38%; */
		/* height: 100%; */
		/* right: 30%;	 */
	/* } */
	/* .wgChatbox-head{ */
		/* height: 7%; */
	/* } */
	/* .wgChatbox-footer{ */
		/* height: 7%; */
	/* } */
	/* .wgChatbox-body{ */
		/* height: 86.5%; */
	/* } */
	/* .wgChatbox-head .span1 .span1-1{ */
		/* width:2.525em; */
		/* height:2.525em;	 */
	/* } */
	/* .wgChatbox-head .span2 .span2-1{ */
		/* font-size:2.5em; */
	/* } */
	/* .wgChatbox-body .chat-history .message-data { */
		/* font-size: 1.4em; */
	/* } */
	/* .wgChatbox-body .chat-history .message  { */
		/* font-size:1.5em;	 */
	/* } */
	/* .wgChatbox-body .chat-history ul { */
		/* padding: 0.000em 1.250em 0.000em 0.000em; */
	/* } */
	/* .dv-generic-carousel .sd-right { */
		/* top:10em;	 */
	/* } */
	/* .dv-generic-carousel .sd-left {  */
		/* top:10em; */
	/* } */
	/* button.btn-in-chat{	 */
		/* font-size:1.00em;	 */
	/* } */
	/* .wgChatbox-footer .span2 textarea{ */
		/* width: 96%; */
		/* font-size:1.6em; */
	/* } */
	/* .imgsend{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgemoji{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgfile{ */
		/* padding-top:0.50em;  */
		/* width: 1.4em; */
		/* height: 1.4em; */
	/* } */
	/* .emoji-chat{ */
		/* position: fixed; */
		/* font-size:1.4em;	 */
		/* bottom: 2em; */
	/* } */
	/* .imgbtn-uin{ */
		/* width:2em; */
	/* } */
	/* .span4{ */
		/* width:7%; */
	/* } */
/* } */
/* @media screen and (max-width:2000px){ */
	/* .wgChatbox{ */
		/* width: 38%; */
		/* height: 100%; */
		/* right: 30%;	 */
	/* } */
	/* .wgChatbox-head{ */
		/* height: 8%; */
	/* } */
	/* .wgChatbox-footer{ */
		/* height: 8%; */
	/* } */
	/* .wgChatbox-body{ */
		/* height: 84.5%; */
	/* } */
	/* .wgChatbox-head .span1 .span1-1{ */
		/* width:2.525em; */
		/* height:2.525em;	 */
	/* } */
	/* .wgChatbox-head .span2 .span2-1{ */
		/* font-size:2.5em; */
	/* } */
	/* .wgChatbox-body .chat-history .message-data { */
		/* font-size: 1.4em; */
	/* } */
	/* .wgChatbox-body .chat-history .message  { */
		/* font-size:1.5em;	 */
	/* } */
	/* .wgChatbox-body .chat-history ul { */
		/* padding: 0.000em 1.250em 0.000em 0.000em; */
	/* } */
	/* .dv-generic-carousel .sd-right { */
		/* top:62%;	 */
	/* } */
	/* .dv-generic-carousel .sd-left {  */
		/* top:62%; */
	/* } */
	/* button.btn-in-chat{	 */
		/* font-size:1.00em;	 */
	/* } */
	/* .wgChatbox-footer .span2 textarea{ */
		/* width: 96%; */
		/* font-size:1.6em; */
	/* } */
	/* .imgsend{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgemoji{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgfile{ */
		/* padding-top:0.50em;  */
		/* width: 1.4em; */
		/* height: 1.4em; */
	/* } */
	/* .emoji-chat{ */
		/* position: fixed; */
		/* font-size:1.4em;	 */
		/* bottom: 2em; */
	/* } */
	/* .imgbtn-uin{ */
		/* width:2em; */
	/* } */
	/* .span4{ */
		/* width:7%; */
	/* } */
/* } */
@media screen and (max-width:9000px){
	.wgChatbox{
		width: 25em;
		/* min-width: 413px; */
		/* max-width: 38%; */
		height: 100%;
		right: 0%;
		left: 0%;
		margin: auto;
	}
	.wgChatbox-head{
		height: 8%;
	}
	.wgChatbox-footer{
		height: 8%;
	}
	.wgChatbox-body{
		height: 92%;
	}
	.wgChatbox-head .span1 .span1-1{
		width:2.525em;
		height:2.525em;	
	}
	.wgChatbox-head .span2 .span2-1{
		font-size:2.5em;
	}
	.wgChatbox-body .chat-history .message-data {
		font-size: 1.4em;
	}
	.wgChatbox-body .chat-history .message  {
		font-size:1.5em;	
	}
	.wgChatbox-body .chat-history ul {
		padding: 0.000em 1.250em 0.000em 0.000em;
	}
	.dv-generic-carousel .sd-right {
		top:47%;	
	}
	.dv-generic-carousel .sd-left { 
		top:47%;
	}
	button.btn-in-chat{	
		font-size:1.00em;	
	}
	.wgChatbox-footer .span2 textarea{
		width: 96%;
		font-size:1.6em;
	}
	.imgsend{
		width: 2em;
		height: 2em;
	}
	.imgemoji{
		width: 2em;
		height: 2em;
	}
	.imgfile{
		padding-top:0.50em; 
		width: 1.4em;
		height: 1.4em;
	}
	.emoji-chat{
		position: fixed;
		font-size:1.4em;	
		bottom: 2em;
		width: 15%;
	}
	.imgbtn-uin{
		width:2em;
	}
	.span4{
		width:7%;
	}
}
@media screen and (max-width:414px){
	.wgChatbox{
		width: 100%;
		/* min-width: 413px; */
		/* max-width: 38%; */
		height: 100%;
		right: 0%;
		left: 0%;
		margin: auto;
	}
	.wgChatbox-head{
		height: 7%;
	}
	.wgChatbox-footer{
		height: 7%;
	}
	.wgChatbox-body{
		height: 88.5%;
	}
	.wgChatbox-head .span1 .span1-1{
		width:2.525em;
		height:2.525em;	
	}
	.wgChatbox-head .span2 .span2-1{
		font-size:2.5em;
	}
	.wgChatbox-body .chat-history .message-data {
		font-size: 1.4em;
	}
	.wgChatbox-body .chat-history .message  {
		font-size:1.5em;	
	}
	.wgChatbox-body .chat-history ul {
		padding: 0.000em 1.250em 0.000em 0.000em;
	}
	.dv-generic-carousel .sd-right {
		top:48%;	
	}
	.dv-generic-carousel .sd-left { 
		top:48%;
	}
	button.btn-in-chat{	
		font-size:1.00em;	
	}
	.wgChatbox-footer .span2 textarea{
		width: 96%;
		font-size:1.6em;
	}
	.imgsend{
		width: 2em;
		height: 2em;
	}
	.imgemoji{
		width: 2em;
		height: 2em;
	}
	.imgfile{
		padding-top:0.50em; 
		width: 1.4em;
		height: 1.4em;
	}
	.emoji-chat{
		position: fixed;
		font-size:1.4em;	
		bottom: 2em;
		width: 75%;
	}
	.imgbtn-uin{
		width:2em;
	}
	.span4{
		width:9%;
	}
}
/* @media screen and (max-width:1500){ */
	/* .wgChatbox{ */
		/* width: 38%; */
		/* height: 100%; */
		/* right: 30%;	 */
	/* } */
	/* .wgChatbox-head{ */
		/* height: 10%; */
	/* } */
	/* .wgChatbox-footer{ */
		/* height: 10%; */
	/* } */
	/* .wgChatbox-body{ */
		/* height: 80%; */
	/* } */
	/* .wgChatbox-head .span1 .span1-1{ */
		/* width:2.525em; */
		/* height:2.525em;	 */
	/* } */
	/* .wgChatbox-head .span2 .span2-1{ */
		/* font-size:2.5em; */
	/* } */
	/* .wgChatbox-body .chat-history .message-data { */
		/* font-size: 1.4em; */
	/* } */
	/* .wgChatbox-body .chat-history .message  { */
		/* font-size:1.5em;	 */
	/* } */
	/* .wgChatbox-body .chat-history ul { */
		/* padding: 0.000em 1.250em 0.000em 0.000em; */
	/* } */
	/* .dv-generic-carousel .sd-right { */
		/* top:52%;	 */
	/* } */
	/* .dv-generic-carousel .sd-left {  */
		/* top:52%; */
	/* } */
	/* button.btn-in-chat{	 */
		/* font-size:1.00em;	 */
	/* } */
	/* .wgChatbox-footer .span2 textarea{ */
		/* width: 96%; */
		/* font-size:1.6em; */
	/* } */
	/* .imgsend{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgemoji{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgfile{ */
		/* padding-top:0.50em;  */
		/* width: 1.4em; */
		/* height: 1.4em; */
	/* } */
	/* .emoji-chat{ */
		/* position: fixed; */
		/* font-size:1.4em;	 */
		/* bottom: 2em; */
	/* } */
	/* .imgbtn-uin{ */
		/* width:2em; */
	/* } */
	/* .span4{ */
		/* width:7%; */
	/* } */
/* } */

/* @media screen and (max-width:1300px){ */
	/* .wgChatbox{ */
		/* width: 38%; */
		/* height: 100%; */
		/* right: 30%;	 */
	/* } */
	/* .wgChatbox-head{ */
		/* height: 8%; */
	/* } */
	/* .wgChatbox-footer{ */
		/* height: 8%; */
	/* } */
	/* .wgChatbox-body{ */
		/* height: 84%; */
	/* } */
	/* .wgChatbox-head .span1 .span1-1{ */
		/* width:2.525em; */
		/* height:2.525em;	 */
	/* } */
	/* .wgChatbox-head .span2 .span2-1{ */
		/* font-size:2.5em; */
	/* } */
	/* .wgChatbox-body .chat-history .message-data { */
		/* font-size: 1.4em; */
	/* } */
	/* .wgChatbox-body .chat-history .message  { */
		/* font-size:1.5em;	 */
	/* } */
	/* .wgChatbox-body .chat-history ul { */
		/* padding: 0.000em 1.250em 0.000em 0.000em; */
	/* } */
	/* .dv-generic-carousel .sd-right { */
		/* top:10em;	 */
	/* } */
	/* .dv-generic-carousel .sd-left {  */
		/* top:52%; */
	/* } */
	/* button.btn-in-chat{	 */
		/* font-size:1.00em;	 */
	/* } */
	/* .wgChatbox-footer .span2 textarea{ */
		/* width: 96%; */
		/* font-size:1.6em; */
	/* } */
	/* .imgsend{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgemoji{ */
		/* width: 2em; */
		/* height: 2em; */
	/* } */
	/* .imgfile{ */
		/* padding-top:0.50em;  */
		/* width: 1.4em; */
		/* height: 1.4em; */
	/* } */
	/* .emoji-chat{ */
		/* position: fixed; */
		/* font-size:1.4em;	 */
		/* bottom: 2em; */
	/* } */
	/* .imgbtn-uin{ */
		/* width:2em; */
	/* } */
	/* .span4{ */
		/* width:7%; */
	/* } */
/* } */
/* @media screen and (max-width:990px){ */
	/* .wgChatbox{ */
		/* width: 100%; */
		/* height: 100%; */
		/* right: 0%; */
	/* } */
	/* .wgChatbox-head{ */
		/* height: 8%; */
	/* } */
	/* .wgChatbox-footer{ */
		/* height: 8%; */
	/* } */
	/* .wgChatbox-body{ */
		/* height: 84%; */
	/* } */
	/* .wgChatbox-head .span1 .span1-1{ */
		/* width:50%; */
		/* height:70%;	 */
	/* } */
	/* .wgChatbox-head .span2 .span2-1{ */
		/* font-size:600%; */
	/* } */
	/* .wgChatbox-body .chat-history .message-data { */
		/* font-size: 3.5em; */
	/* } */
	/* .wgChatbox-body .chat-history .message  { */
		/* font-size:4.5em; */
		/* line-height: 1em;	 */
	/* } */
	/* .wgChatbox-body .chat-history ul { */
		/* padding-right: 3.250em ; */
	/* } */
	/* .dv-generic-carousel .sd-right { */
		/* top:7em;	 */
	/* } */
	/* .dv-generic-carousel .sd-left {  */
		/* top:7em; */
	/* } */
	/* button.btn-in-chat{	 */
		/* font-size:3.00em;	 */
	/* } */
	/* .wgChatbox-footer .span2 textarea{ */
		/* width: 92%; */
		/* font-size:4.5em; */
	/* } */
	/* .imgsend{ */
		/* width: 5em; */
		/* height: 5em; */
	/* } */
	/* .imgemoji{ */
		/* width: 5em; */
		/* height: 5em; */
	/* } */
	/* .imgfile{ */
		/* padding-top:0.50em;  */
		/* width: 3.5em; */
		/* height: 3.5em; */
	/* } */
	/* .emoji-chat{ */
		/* position:absolute ; */
		/* font-size:3.4em;	 */
		/* bottom: 2em; */
	/* } */
	/* .imgbtn-uin{ */
		/* width:2em; */
	/* } */
	/* .span4{ */
		/* width:9%; */
	/* } */
/* } */

.background{
	background-color:#C5DDEB;
}

.wgChatbox{
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	z-index: 99997;
	float:left;
	border: solid 0.063em #e9e9eb; 
	font-family:'TrueMedium';
	
}

.comfirm-end-background{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#b9c1c9;
	z-index: 99999;
	opacity:0.7;
	
}
.comfirm-end-box{
	position:absolute;
	top:2%;
	left:2%;
	width:96%;
	height:auto;
	z-index: 100000;
	text-align:center;
	background-color:#ffffff;	
	border: solid 0.063em #ffffff;
	border-radius:1em;
	
}

.comfirm-end-box .comfirm-end-inside{
	height:auto;	
	padding:1.250em 0em;
}

.comfirm-end-box .comfirm-end-inside p{
	font-size: 1.550em!important;
}

.wgChatbox-head{
	position: relative;
	top:0;
	width:100%;
	background-color: #ed1c24;
	color:#ffffff;
	display:table;
	/* height: 10%; */
}
.wgChatbox-head .span1{
	width:15%;
	display: table-cell;
	vertical-align:middle;
}
.wgChatbox-head .span1 .span1-1{
	background-color: #ffffff;
	border: 0.063em solid #b9c1c9;
	border-radius: 50%;
	margin-left:0.625em;
	display:block;
}
.wgChatbox-head .span1 .span1-1 img{
	width:100%;
	border-radius : 50%;
}

.wgChatbox-head .span2{
	width:65%;
	display: table-cell;
	vertical-align:middle;
}
.wgChatbox-head .span2 .span2-1{
	display:block;

}
.wgChatbox-head .span3{
	width:10%;
	display: table-cell;
	vertical-align:top;
}
.wgChatbox-head .span3 .span3-1{
	display:block;
	float:right;
	margin-right:0.500em;
	font-size:1.875em;
	margin-top:0.6em;
	
}
.wgChatbox-head .span3 .span3-1{
	cursor:pointer;
}

.wgChatbox-body{
	position:relative;
	width:100%;
	background-color: #e9e9eb;
	/* height: 80%; */
	
}
.wgChatbox-body .chat-history {
	position:absolute;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	height:100%;
	width:100%;
    
}


.wgChatbox-body .chat-history ul li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding-top: 0.625em;
}
.wgChatbox-body .chat-history .message-data {
    margin-bottom: 0.625em;
	padding-left:1em;
}

.wgChatbox-body .chat-history .message-data > img {
    border-radius: 50%;
	width: 1.9em;
    background-color: white;
}
.wgChatbox-body .chat-history .message-data-time {
    color: #979797;
    padding-left: 0.375em;
	padding-right: 0.375em;
}
.wgChatbox-body .chat-history .my-message {
    border: solid 0.125em #303c46;
    background: #303c46;
    float: left;
}

.wgChatbox-body .chat-history .message  {
    color: #ffffff;
    padding: 0.525em 0.850em;
    border-radius: 0.500em;
    margin-bottom: 0.500em;
    max-width: 90%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: none;
    position: relative;
	left:1.00em;
	margin-right:1.00em;
}

.wgChatbox-body .chat-history .message:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #303c46;
    border-width: 0.625em;
    margin-left: -0.625em;
}

.wgChatbox-body .chat-history .message.my-message:after {
    left:1.250em;
}
.wgChatbox-body .chat-history .other-message {
    background: #ffffff;
    color: #303c46;
}
.wgChatbox-body .chat-history .other-message:after {
    border-bottom-color: #ffffff;
    right: 0.625em;
}
.other-message a{
   color:dodgerblue;    
}
.my-message a {
   color:orange;    
}
.wgChatbox-body .chat-history .message-smallbox {
	background: #b9c1c9;
    color: #303c46;
    padding: 0.625em 1.250em;
    border-radius: 0.500em;
    margin-bottom: 0.500em;
    max-width: 80%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: none;
    position: relative;
	text-align:left;
}
.wgChatbox-body .chat-history .message-smallbox-head {
    font-size: 1.000em;
	border-bottom: solid 0.075em #303c46;
	width:95%; 
}
.wgChatbox-body .chat-history .message-smallbox-body {
    font-size: 1.000em;
	padding:0.625em;
}
.wgChatbox-body .chat-history .message xmp {
    font-size: 0.875em;
    font-family: 'TrueMedium';
    margin: 0;
    white-space: pre-wrap;
    hyphens: auto;
    word-break: break-word;
    float: left;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.wgChatbox-footer{
	position: relative;
	bottom:0;
	width:100.1%;
	background-color: #ffffff;
	display:table;
	/* height: 10%; */
}
.wgChatbox-footer .span1{
	width:9%;
	vertical-align:middle;
	display: table-cell;
	

}
.wgChatbox-footer .span2{
	width:100%;
	vertical-align:middle;
	display: table-cell;
	padding-top:0.4em;
}
.wgChatbox-footer .span2 textarea{
	border: 0.063em solid #b9c1c9;
	/* border-radius: 0.500em; */
	/* padding: 0.313em 0.625em ; */
	background-color: #e9e9eb;
	resize: none;
	outline:none;
	overflow:auto;
	font-family:'TrueMedium';
}
.wgChatbox-footer .span2 textarea::placeholder {
	color:#b9c1c9;
}
.wgChatbox-footer .span3{
	width:15%;
	vertical-align:middle;
	display: table-cell;
}
.wgChatbox-footer .span3 input[name='btnsend']{
		width:50%;
		margin-left:0.500em;
}
button.btn-in-chat{
	border: 0.1em solid #ed1c24;
    border-radius: 1.3em;
	color:#ed1c24;
	background-color:#ffffff;
	/* box-shadow: 0.125em 0.188em; */
	padding: 0.625em;
	text-transform: uppercase;
	cursor:pointer;
	/* margin-left:1.50em; */
	outline:none;
	font-family:'TrueMedium';
	width:26%;
}
button.btn-in-chat:hover{
	/* font-weight: bold; */
	color:white;
	background: #F93E60;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.dv-generic-carousel {
    width: 90%;
    padding: 0.625em;
    background-color: #ffffff;
    border-radius: 0.500em;
    /* border: solid 2px #ec2127; */
    border: solid 0.125em #303c46;
    box-shadow: 0.063em 0.063em 0.250em #b9c1c9;
    margin-bottom: 0.938em;
	margin-top:0.625em;
    position: relative;
}
.dv-generic-carousel:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-bottom-color: #303c46;
    border-width: 0.625em;
}
.dv-generic-carousel .sd {
    z-index: 10;
    position: absolute;
    /* background-color: #ffffff; */
    /* top: -webkit-calc(15%); */
}
.dv-generic-carousel .sd:hover {
    color:red;
}

.dv-generic-carousel .sd-left {
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    left: 0px;
	
	cursor: pointer;
}

.dv-generic-carousel .sd-right {
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    right: 0px;
	/* width: 2.3em; */
	
	cursor: pointer;
}

.dv-generic-carousel .sd i {
    font-size: 1.375em;
    padding: 0.625em;
}
.dv-generic-carousel .ul-gc {
    font-size: 0.9em;
    overflow-x: scroll;
    -ms-overflow-style: none;
    white-space: nowrap;
    text-align: center;
}

.dv-generic-carousel .ul-gc::-webkit-scrollbar {
    display: none;
}
.dv-generic-carousel .ul-gc li:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.dv-generic-carousel .ul-gc li {
    margin: 0em 0.188em 0em 0.188em;
    vertical-align: top;
    width: 80%;
    box-shadow: 0.063em 0.063em 0.250em #b9c1c9;
}

.dv-generic-carousel .ul-gc li .dv-thumb {
    width: 100%;
}

.dv-generic-carousel .ul-gc li .dv-thumb img {
    width: 100%;
}

.dv-generic-carousel .ul-gc li:first-child .dv-thumb img {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.dv-generic-carousel .ul-gc li .dv-button {
    border-top: solid #ccc 1px;
    text-align: center;
    padding: 0.625em;
    font-size: 0.875em;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dv-generic-carousel .ul-gc li .dv-button:hover {
    cursor: pointer;
    font-size: 1em;
}
.dv-generic-carousel .ul-gc li .dv-title:hover {
    cursor: default;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-angle-left:before {
    content: "<";
}

.fa-angle-right:before {
    content: ">";
}
.hide{
	display:none;
	visibility:hidden;
}
button.btn-none-style{
	border:none;
	background-color:white;
	padding-top:0.55em;
	outline:none;
}
.emoji-chat{
    z-index: 99;
    background: #e8e8e8;
    
	line-height:1.3em;
	/* top: 10.9em; */
	/* left: 39.5em; */
	border:solid 0.073em #333;
	border-radius:0.5em;	
	padding-top:0.3em;
	display:none;
}
.cx-emoji-menu cx-theme{
	margin-top:0.25em;
}
.emoji-option{
	display:inline-block;
}
.chanel-select{
	border: solid 0.125em #303c46;
    background: #303c46;
    float: left;
	color: #ffffff;
    padding: 0.525em 0.850em;
    font-size: 1.250em;
    border-radius: 0.500em;
    margin-bottom: 0.500em;
    max-width: 90%;
    word-break: break-word;
    
    hyphens: none;
    position: relative;
	left:1.00em;
	margin-right:1.00em;
	font-size:1.5em;
}
#li-btn-selecter{
	/* padding-top:0.5em; */
	/* border:0.125em solid #e8e8e878; */
	border-radius:0.5em;
	background-color:white;
	margin-left:5%;
	width:96%;
	margin-bottom:1em;
	
}
.btn-select{
	/* padding: 0.625em; */
	text-transform: uppercase;
	cursor:pointer;
	font-size:1.2em;
	padding-top:0.625em;
	padding-bottom:0.625em;
	width:94%;
	margin-left:0.6em;
	border-top:0.125em solid #e8e8e878;
}
.btn-select:hover{
	background-color:#f93e60;
	color:white;
	/* font-size:1.4em; */
}
.btn-select:hover .selec{
	
	color:white;
	/* font-size:1.4em; */
}

.span4{
	display: table-cell;
	vertical-align:middle;
}
.btn-in-chat-download{
	border: 0.125em solid #ed1c24;
    border-radius: 1.3em;
	color:#ed1c24;
	background-color:#ffffff;
	box-shadow: 0.125em 0.188em;
	padding: 0.625em;
	text-transform: uppercase;
	cursor:pointer;
	font-size:0.65em;
	/* margin-left:1.50em; */
}
.btn-sms{
	border: 0.1em solid #ed1c24;
    border-radius: 1.3em;
	color:#ed1c24;
	background-color:#ffffff;
	/* box-shadow: 0.105em 0.148em; */
	padding: 0.425em;
	text-transform: uppercase;
	cursor:pointer;
	font-size:1em;
	/* margin-left:1.50em; */
	width:36%;
	margin-bottom:1.5em;
	margin-left:1.2em;
	font-family: inherit;
}
button.btn-sms:hover{
	background-color: #f93e60;
    color: white;
    /* font-size: 1.4em; */
}
.txtboxsms{
	font-size:0.9em;
	border-radius:0.5em;
	margin-top:0.5em;
	padding:0em 0.7em;
	font-family:'TrueMedium';
}
.p-title{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.messagesms{
	border: solid 0.075em #999;
    background: #fff;
    float: left;
	color: #ffffff;
    padding: 0.525em 0.850em;
    border-radius: 0.500em;
    margin-bottom: 0.500em;
    max-width: 90%;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: none;
    position: relative;
    left: 1.00em;
    margin-right: 1.00em;
    font-size: 1.5em;
	color:black;
}
.selec {
    float: right;
    font-size: 1.5em;
	color: #F93E60;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}
.bul-img{
 border-radius:50%;
 width:0.525em;
 height:0.525em;
 margin-left:0.125em;
 margin-right:0.125em;
 display:inline-block;
 cursor:pointer;
}
.bulnone{ 
 background-color : gray;
}
.bulact{ 
 background-color : red;
}
.bul-img:hover{
 background : red;
}
.bul-slide-img{
 text-align:center;
}


/* .selec:hover{ */
	
	/* color:inherit; */
	/* /* font-size:1.4em; */ */
/* } */
